body{
background: #02012b;
margin: 0 auto;
padding: 0 30px;
direction: ltr;
text-align: left;
 -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* body.rtl{
 direction: rtl;
text-align: right; 
} */


.big-container{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
}

.header{
  width: 100%;
  margin: 0 auto;
  padding: 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

/* the unit drop down */

    .unit-dropdown {
    position: relative;
    display: inline;

    }

    .unit-btn {
        background: #3d3d6d;
        border-radius:8px;
        padding: 8px 14px;
        font-size: 12px;
        cursor: pointer;
        color: aliceblue;
        justify-content: space-between;
        align-items: center;
        display: flex;
        gap: 6px;
    border: none;
    transition: 0.2s;
    }
    .unit-btn:hover{
        background-color: #5c5ca1;
        transform: scale(1.01);
    }

    .menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 8px;
    width: 230px;
    background: #2b2b4a;
    border-radius: 12px;
    padding: 10px;
    color: aliceblue;


    }

    .menu.open{
        display: block;
    }

    .group{
        margin-bottom: 12px;
    }

    .title{
        font-size: 13px;
        opacity: .7;
        margin-bottom: 6px;
    }

    .item{
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
    }
    .item:hover{
    background: #5c5ca1;
    }

    .check-icon{
        display: block;
        width: 14px;
        height: 14px;
    }

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.greeting{
    font-family: 'Bricolage Grotesque', sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* err page */

.err{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.big-font{
  font-size: 50px;
  margin: 10px;
  font-family: "Bricolage Grotesque", sans-serif;

}
.small-font{
    font-family: "DM  sans", sans-serif;
  font-size: 17px;
  margin: 25px;
}
.err img{
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  display: block;
}
.err button{
padding: 10px;
justify-content: center;
display: flex;
align-items: center;
gap: 4px;
font-size: 15px;
color: aliceblue;
cursor: pointer;
background-color: #29294a;
border-radius: 8px;
border: none;
transition:0.3s;
}
.err button img{
  margin: 5px;
height: 20px;
width: 20px;
}
.err button:hover {
      background-color: #3131a6;
      transform: scale(1.05);
    }

/* search bar */

    .searchbar {
      display: flex;
      align-items: center;
      border-radius: 8px;
      width: 400px;
      background-color: #3d3d6d;
      padding: 5px 5px;
    }

    .searchbar input{
       background-color: #3d3d6d;
    }


    .search-txt {
      background-color: #3d3d6d;
      border: none;
      outline: none;
      font-size: 15px;
      color: #dce6e7;
      margin-left: 5px;
      flex: 1;   /* makes input fill remaining space */
      cursor: pointer;
    }

    .searchbar:focus-within {
      box-shadow: 0 0 0 2px #6a6aff;
    }

    .search-icon{
        margin: 5px;
    }

    .search-btn{
        display: inline;
        background-color: #242293;
        color: aliceblue;
        border-radius: 8px;
        padding: 12px;
        margin-left: 10px;
        border-style: none;
        transition: 0.2s;
        
    }

    .search-btn:hover {
      background-color: #3a39c9;
      transform: scale(1.05);
      cursor: pointer;
    }

    #no-result{
      font-family: "DM-sans", sans-serif;
      margin: 10px;
      color: #dce6e7;
      justify-content: center;
      display: flex;
      margin: 50px;
      
    }

/* bg-today + hourly container */

    .weatherContainer {
      display: flex;
      gap: 20px;
      margin-top: 40px;
    }


    .img-container {
      position: relative;
      flex: 2;
    }

    .today-bg {
      width: 100%;
      height: 270px;
      object-fit: cover;
      border-radius: 8px;
      display: block;
      justify-content: space-between;
      
    }

/* the loader */

    .load-wrapp {
      position: absolute;
      top: 23%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
    }


    .load-wrapp:last-child {
      margin-right: 0;
    }

    .line {
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 15px;
      background-color: #bfdcf4;
    }

    .load-2 .line:nth-last-child(1) {
      animation: loadingB 1.5s 1s infinite;
    }
    .load-2 .line:nth-last-child(2) {
      animation: loadingB 1.5s 0.5s infinite;
    }
    .load-2 .line:nth-last-child(3) {
      animation: loadingB 1.5s 0s infinite;
    }

    @keyframes loadingB {
      0% {
        width: 15px;
      }
      50% {
        width: 35px;
      }
      100% {
        width: 15px;
      }
    }








/* inner content of the bg- today */

    .note{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      padding: 60px 30px;
      color: white;
    font-family: 'DM sans', sans-serif;
      justify-content: space-between; 
      width: 90%;                
    }

    .hidden{
      display: none;
    }

    .left {
      position: flex;
      margin-top: 25px; 
    }

    .date{
      margin-top:20px;
      font-size: 10px;
    }


    .right {
      display: flex;
      font-size: 40px;
      font-style: italic;
      align-items: center;
    
    }

    .temp{
      display: block;

    }

    .weatherIcon{
    height: 110px;
    width: 110px;
    }

/* hourly column */

    .hourly {
      flex: 1;
      height: 600px; /* match image height */
      background-color: #3d3d6d;
      color: aliceblue;
      border-radius: 8px;
    }

